.info_box {
	width: 1098px;
	border: 1px black solid;
	margin: 10px;
	padding: 10px;
}

.index_box {
	border: 1px black solid;
	display: inline-block;
	margin: 10px;
	padding: 10px;
}

#name_box {
	border: 1px black solid;
	width: auto;
}

#description_box {
	border: 1px black solid;
	width: auto;
}

#price_box {
	border: 1px black solid;
	width: auto;
}


.sign_in {
	border: 1px black solid;
	float: right;
	margin-right: 50px;
	margin-top: 50px;
}

.top {
	width: 1098px;
	border: 1px black solid;
	margin: 10px;
	padding: 10px;
}

#form {
	border: 1px black solid;
	width: 1098px;
	margin: 10px;
	padding: 10px;
}

.flash {
	margin-bottom: 10px;
}