// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sign_up {
	background-color: #1C3411;
	width: 1098px;
	border: 1px black solid;
	margin: 10px;
	padding: 10px;
}