<div><h1>Welcome to the Rainforest!  Where resources are plenty!</h1></div>


<p id="product_count">We Currently Have <%= @products.length %> Products Available.  Would you care to add a <%= link_to "New Product?", "/products/new" %>
</p>

<div class="info_box"><% @products.each do |product| %>
	<div class="index_box"><%= link_to "#{product.name}", product %><br>
		<p>$<%= product.formatted_price %></p></div>
<% end %> </div>