<div><h1>Welcome to the Rainforest!  Where resources are plenty!</h1></div>


<p id="product_count">We Currently Have <%= @products.length %> Products Available.  Would you care to add a <%= link_to "New Product?", "/products/new" %>
</p>

<% @products.each do |product| %>
	<p><%= link_to "#{product.name}", product %></p>
<% end %> 